::-webkit-scrollbar {
    width: 8px; 
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.3);
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

textarea {
    resize: none
}

p {
    word-break: break-word;
}    

#search-box {
    width: 12%;
}

#search-box-lg {
    width: 30%;
    height: 8vh !important;
}

#search-box-lg .input-group-append .input-group-text {
    border-radius: 0px 100px 100px 0px;
    padding-right: 25px;
}

#search-box-lg .form-control {
    border-radius: 100px 0px 0px 100px;
    height: inherit !important;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* font-size: 30px; */
}

.slider-handle {
    background: #ffffff;
    border: 1px solid #cfd7de;
    opacity: 1;
    outline: none
}

.slider-selection {
    background: blue;
}

.btn-color {
    color: #000000;
    background-color: #ffffff;
    border-color: #6c757d;
}

.checked {
    color: orange;
}

.fa-star {
    font-size: 2.00em;
}

.price-tag {
    font-size: 35px;    
}

.hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hoverable:hover {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown-toggle-no-arrow::after {
    display:none;
}

.dropdown-toggle-fixed-width {
    min-width: 8vw;
}

.zoom {
    transition: transform .2s; 
}

.zoom:hover {
    transform: scale(1.03); 
}

.not-href {
    color: inherit !important;
    text-decoration: none !important;
}

.btn {
    cursor: pointer;
}

.btn-img {
    cursor: pointer;
}

.nav-item .btn {
    width: 100px;
}

.center-screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 30%;
    width: 100%;
}

#search:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.custom-shadow:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    border-radius: 100px;
    box-shadow: 5px 5px 5px 0 rgba(0, 123, 255, 0.25);
}

.custom-shadow:hover {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    border-radius: 100px;
    box-shadow: 5px 5px 5px 0 rgba(0, 123, 255, 0.25);
}

.border-right {
    border-right: 1px solid #dee2e6;
}

.border-left {
    border-left: 1px solid #dee2e6;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.split-left {
    height: 100%;
    width: 20%;
    left: 0;
    position: fixed;
}

.split-right {
    height: 100%;
    width: 80%;
    right: 0;
    position: fixed;
}

.split-top {
    position: absolute;
    top: 0;
    height: 77%;
    width: 100%;
}

.split-bottom {
    position: fixed;
    bottom: 0;
    height: 12%;
    width: 80%;
}

.icon-size {
    width: 16px;
    height: 16px;
}

.hidden {
    visibility: hidden;
}

.chat-chosen {
    background-color: rgba(0, 0, 0, .05);
}

.chat-item:hover {
    background-color: rgba(0, 0, 0, .05);
}

.autoscroll {
    overflow: hidden;
}

.autoscroll:hover {
    overflow: auto;
}

.hiddenscroll {
    overflow: auto;
}

.hiddenscroll::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}

#chat-box {
    width: 80%;
    height: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#send-button {
    left: 60%;
}

.message-box {
    max-width: 80%;
}

.message {
    margin-left: 100px;
    margin-top: -10px;
}