html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
margin: 0px;
min-height: 100%;
width: 100%;
}

#search-box {
    width: 240px;
}

.slider-handle {
    background: #ffffff;
    border: 1px solid #cfd7de;
    opacity: 1;
    outline: none
}

.slider-selection {
    background: blue;
}

.btn-color {
    color: #000000;
    background-color: #ffffff;
    border-color: #6c757d;
}

.checked {
    color: orange;
}

.fa-star {
    font-size: 2.00em;
}

.price-tag {
    font-size: 35px;    
}

.hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hoverable:hover {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}